
.hero__section{

    .row{
        height: 65vh;
        
        .col-1{
            flex-basis: 60%;
            .carousel-root{
                height: 100% !important;
            }
            .col{
                height: 100% !important;
                position: relative;
                p{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: none;
                    color: $text-white;
                }
            }
            img{
                height: 65vh;
                object-fit: cover;
            }
            .thumbs-wrapper{
                display: none;
            }
            .control-dots{
                background: none;
            }
            .control-arrow{
                display: none;
            }
            .carousel-status{
                display: none;
            }
        }
    }
}

