

$primary: #ffc800;
$secondary: #3D464D;
$color-white: #ffffff;

$text-primary: #FFD333;
$text-secondary: #3D464D;
$text-secondary-light: #6C757D;
$text-white: #fff;
$text-white-light: #F5F5F5;


$primary-hover: #e6b400;
$border-color: #ced4da; 

$bg-primary: #FFD333;
$bg-secondary: #3D464D;
$bg-white: #fff;
$bg-white-dark: #f5f5f5;


$font-roboto: 'Roboto Serif', serif;